<head>
<style>

h1 {
      font-size: 2em;
      padding: 1em 8px;
      color: black;
      background-color: white;
      margin: 0; }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66CCCC;
}
li {
    float: left;
}
li a { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover:not(.active) {
	background-color: #A5EDEC;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
	border-left:2px dotted white;
	border-right:2px dotted white
}
.active {
background-color:#37BC61;
}
li ul {
	display: none;
}
/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}
/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
#colorstrip{
    height: 2px;
    border-style: solid;
    border-color: #F87531;
    background-color: #F87531;
}
.container{
	width:100%;
	float:center;
	padding:10px;
}
  .header {
	  display:block;
    height:80px;
    background-color:white;
    border:1px solid white;

}
</style>
</head>
