<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
    
    <link rel="stylesheet" href="/static/css/footer.css">

    
    
    
  </head>

  <body>

<footer class="Footer">
  <ul class="Footer-items">
  <li><h4><font color="white">&nbsp;&nbsp;&nbsp;Contact us!</font></h4>
  </li>
    <li class="Footer-item"><a target="_blank" href="https://twitter.com" class="Footer-link">
      <span class="Footer-icon fa fa-twitter"></span>
      </a>
    </li>
    <li class="Footer-item"><a target="_blank" href="https://github.com" class="Footer-link">
      <span class="Footer-icon fa fa-github"></span>
      </a>
    </li>
    <li class="Footer-item"><a target="_blank" href="http://codepen.io" class="Footer-link">
      <span class="Footer-icon fa fa-codepen"></span>
      </a>
    </li>
    <li class="Footer-item"><a target="_blank" href="https://fr.linkedin.com" class="Footer-link">
      <span class="Footer-icon fa fa-linkedin"></span>
      </a>
    </li>
    <li class="Footer-item"><a target="_blank" href="mailto:panketh@uw.edu" class="Footer-link">
      <span class="Footer-icon fa fa-envelope"></span>
      </a>
    </li>
    
    <h5><font color="white">Copyright © 2016 Volunteer Search</h5></font>
    
  </ul>
</footer>
  </body>
</html>