<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/header.css" />
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	
    <body>
		<font face="helvetica">
		<div id="colorstrip"/></div>
        <div class="container">
        <div class="header">
		<h1><center>VOLUNTEER SEARCH</center></h1>
        </div>
        </div>
		<div id="colorstrip"/></div>
		<ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/jobs/view/">View Positions</a></li>
            <li><a href ="/profile/search/">Profiles</a></li>
			<ul style="float:right;list-style-type:none;">
				{% if user.is_anonymous %}
					<li><a href="/login">User Log In</a></li>
				{% else %}
					<li><a href="/accounts/profile">{{ user }}</a></li>
					<li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
				{% endif %}
			</ul>
		</ul>
		</font>
	</body>
    
</html>