{%include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Volunteer Search</title>

<!-- Bootstrap Core CSS -->
<link href="static/css/home.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="static/css/home-features.css" rel="stylesheet">
</head>
<body>

<!-- Page Content -->
<div class="container"> 
  
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
  <div class ="column">
    <h1><font color = white>Welcome!</h1></font>
    <h3>Work together - improve the community.</h3>
    <p>Are you an individual seeking local community service opportunities? Is your organization in need of volunteers to help your cause? Volunteer Search can help bring like-minded people together.</p>
    </div>
  </header>
  <center>
  <hr>
  
  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h2>Get started and join us today!</h2>
      <h5>&nbsp</h5>
      <hr>
      <h5>&nbsp</h5>
    </div>
  </div>
  <!-- /.row --> 
  <!-- Page Features -->
  <h7>&nbsp</h7>
  <div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail"> <img src="/static/images/Carousel1.jpg" alt="Environment Clean-up">
        <div class="caption">
          <h3>Volunteers</h3>
          <p>I'm looking to sign up for local opportunities!</p>
          <p></p>
          <p> <a href="/accounts/register" class="btn btn-primary">Register</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail"> <img src="/static/images/Carousel2.jpg" alt="Elder care" background-size:cover>
        <div class="caption">
          <h3>Organizations</h3>
          <p>I'm looking for volunteers to help my cause!</p>
          <p></p>
          <p> <a href="/org/register" class="btn btn-primary">Register</a> </p>
        </div>
      </div>
    </div>
    <div class="container2">
    <p>
    Let Volunteer Search cater to your specific needs. Sign up as either a User or an Organization to create your unique profile!</p>
    <img src="/static/images/Carousel3.jpg" alt="Trail building" background-size:cover>
    </div>
  </div>
  
  <!-- /.row -->
  <hr>
  <p>Volunteer Search works with non-profit organizations only.
</div>
<!-- /.container --> 

<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>
{%include "footer.html" %}