{%include "header.html" %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Organization Sign Up</title>
    
    
    <link rel="stylesheet" href="/static/css/normalize.css">

    <!--<link rel='stylesheet prefetch' href='http://necolas.github.io/normalize.css/3.0.1/normalize.css'>
-->
        <link rel="stylesheet" href="/static/css/style.css">

  </head>

  <body>

    <form>
  
  <fieldset>
    <label for="name">Organization Name</label>
    <input type="text" name="name" id="orgName" placeholder="Transformers">
  </fieldset>
 
  <fieldset>
    <label for="contact">Contact Name</label>
    <input type="text" name="contact" id="orgName" placeholder="BumbleBee">
  </fieldset> 
 
  <fieldset>
    <label for="email">Contact Email</label>
    <input type="text" name="email" id="contactEmail" placeholder="bumblebee@gmail.com">
  </fieldset>

  <fieldset>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
  </fieldset>

  <fieldset>
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" name="confirmPpassword" id="conformPassword">
  </fieldset>

  <fieldset>
    <label for="select-choice">City</label>
    <select name="select-choice" id="select-choice">
      <option value="Choice 1">- - select one - -</option>
      <option value="Choice 2">Bothell</option>
      <option value="Choice 3">Everett</option>
      <option value="Choice 4">Lynwood</option>
      <option value="Choice 5">Seattle</option>
    </select>
  </fieldset>

  <fieldset>
    <label for="foy">Founding Year</label>
    <input type="date" name="foy" id="foundingYear">
  </fieldset>

  <fieldset>
    <label for="textarea">Bio</label>
    <textarea name="textarea" id="textarea" placeholder="Tell us about yourself..."></textarea>
  </fieldset>

  <fieldset>
    <label for="website">Website</label>
    <input type="url" name="websiteName" id="website">
  </fieldset>
  
  <button>Submit</button>
  
</form>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="/static/js/index.js"></script>

  </body>

 </html>
{% include "footer.html" %}

