<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>User Sign Up</title>
    
    
    <link rel="stylesheet" href="css/normalize.css">

    <link rel='stylesheet prefetch' href='http://necolas.github.io/normalize.css/3.0.1/normalize.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <form>
  
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="firstName" placeholder="Optimus Prime">
  </fieldset>
 
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="optimusprime@gmail.com">
  </fieldset>

  <fieldset>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
  </fieldset>

  <fieldset>
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" name="confirmPpassword" id="conformPassword">
  </fieldset>

  <fieldset>
    <label for="select-choice">City</label>
    <select name="select-choice" id="select-choice">
      <option value="Choice 1">- - select one - -</option>
      <option value="Choice 2">Bothell</option>
      <option value="Choice 3">Everett</option>
      <option value="Choice 4">Lynwood</option>
      <option value="Choice 5">Seattle</option>
    </select>
  </fieldset>

  <fieldset>
    <label for="dob">Birthday</label>
    <input type="date" name="dob" id="bday">
  </fieldset>

  <fieldset>
    <legend>Skills</legend>
    <input type="checkbox" id="check1" name="checkboxes" checked>
    <label for="check1">Checkbox 1</label><br>
    <input type="checkbox" id="check2" name="checkboxes">
    <label for="check2">Checkbox 2</label><br>
    <input type="checkbox" id="check3" name="checkboxes">
    <label for="check3">Checkbox 3</label>
  </fieldset>

  <fieldset>
    <label for="textarea">Bio</label>
    <textarea name="textarea" id="textarea" placeholder="Tell us about yourself..."></textarea>
  </fieldset>

  <button>Submit</button>
</form>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
